@{
    Layout = null;

}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Website Title -->
    <title>Lisa Kaifer | Professional web software engineer</title>
    <!-- Bootstrap -->
    <link href="~/Content/JohnDoeCss/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font-Awesome -->
    <link href="~/Content/JohnDoeCss/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Lightbox -->
    <link href="~/Content/JohnDoeCss/assets/lightbox/css/lightbox.css" rel="stylesheet">
    <!-- Text Rotator-->
    <link href="~/Content/JohnDoeCss/assets/textrotator/simpletextrotator.css" rel="stylesheet">
    <!-- FlexSlider -->
    <link href="~/Content/JohnDoeCss/assets/flexslider/flexslider.css" rel="stylesheet">
    <!-- Theme Style -->
    <link href="~/Content/JohnDoeCss/css/style.css" rel="stylesheet">
    <!-- Animations -->
    <link href="~/Content/JohnDoeCss/css/animate.css" rel="stylesheet">
    <!-- Custom Favicon -->
    <link rel="icon" type="image/png" href="~/Images/JohnDoeImages/favicon-32x32.png" />
    <!--Syntax Highligher CSS-->
    <link href="~/Scripts/SyntaxHighlighter/styles/shCore.css" rel="stylesheet" />
    <link href="~/Scripts/SyntaxHighlighter/styles/shThemeMidnight.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="~/Content/JohnDoeCss/assets/html5shiv/html5shiv.js"></script>
    <script src="~/Content/JohnDoeCss/assets/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body id="top">

    <!-- ****************************** Preloader ************************** -->
    <div id="preloader"></div>


    <!-- ==========================
    HEADER SECTION
    =========================== -->
    <header id="home">
        <!-- creative menu -->
        <div class="container-fluid">
            <div class="row">
                <div class="menu-wrap">
                    <nav class="menu">
                        <!-- Menu Links -->
                        <div class="icon-list">
                            <a href="#home"><i class="fa fa-fw fa-home"></i><span>Home</span></a>
                            <a href="#about"><i class="fa fa-fw fa-quote-left"></i><span>About</span></a>
                            <a href="#service"><i class="fa fa-fw fa-globe"></i><span>Service</span></a>
                            <a href="#codingChallenge"><i class="fa fa-fw fa-jsfiddle"></i><span>JS</span></a>
                            <a href="#portfolio"><i class="fa fa-fw fa-picture-o"></i><span>Portfolio</span></a>
                            <a href="#blog"><i class="fa fa-fw fa-rss"></i><span>Blog</span></a>
                            <a href="#contact"><i class="fa fa-fw fa-envelope-o"></i><span>Contact</span></a>
                        </div>
                    </nav>
                </div>
                <button class="menu-button" id="open-button"></button><!-- menu button -->
            </div><!--/row-->
        </div><!--/container-->
        <!-- Header Image -->
        <section class="hero" id="hero">
            <div class="container">
                <!-- Slider Button (don't edit!)-->
                <div class="row">
                    <div class="col-md-12 text-right navicon">
                        <a id="nav-toggle" class="nav_slide_button" href="index.html#"><span></span></a>
                    </div>
                </div>
                <!-- HEADER HEADLINE -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-1 inner">
                        <h1 class="animated fadeInDown">
                            L<span style="color:#E04343;">i</span>sa<br />
                            <span>K<span style="color:#FFE800">a</span>ifer</span>
                        </h1><!-- Title -->
                        <h3 class="animated fadeInUp delay-05s"><span class="rotate">Web Developer,Web Designer,Software Engineer</span></h3><!-- Text Rotator -->
                    </div>
                </div>
                <!-- Learn More Button -->
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <a href="#about" class="scrollto wow fadeInUp delay-5s ">
                            <p>SEE MORE</p>
                            <p class="scrollto--arrow"><img src="~/Images/JohnDoeImages/scroll-down.png" alt="scroll down arrow"></p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Header Image End -->
    </header>
    <!-- ==========================
    HEADER SECTION END
    =========================== -->
    <!-- ==========================
    ABOUT SECTION
    =========================== -->
    <section class="intro text-center section-padding color-bg" id="about">
        <div class="container">
            <!-- WELCOME TEXT -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 wp1">
                    <h1 class="arrow">A little <span>about</span> me</h1><!-- Headline -->
                    <!-- about / welcome text -->
                    <p> I am a native of Greensboro, NC who has resided in various locations in the Eastern United States as well as in Asia. I am interested in all things related to web development. I currently use HTML, CSS, JavaScript and C# to create .NET applications. I look forward to hearing from you.</p>
                </div>
            </div>
        </div>
    </section>




    <!-- ==========================
      SERVICE SECTION
      =========================== -->
    <section class="features text-center section-padding" id="service">
        <div class="container">
            <!-- Headline -->
            <div class="row">
                <div class="col-md-12">
                    <h1 class="arrow">I do amazing things for clients</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="services">
                        <!-- Service Box 1 -->
                        <div class="col-md-4 wp2 item">
                            <div class="icon">
                                <i class="fa fa-camera"></i><!-- Icon -->
                            </div>
                            <h2>Software Engineer</h2><!-- Title -->
                            <p>
                                I create outstanding websites and web apps that provide intuitive user interfaces built with efficient and modern backends.
                            </p><!-- Description -->
                        </div>
                        <!-- Service Box 2 -->
                        <div class="col-md-4 wp2 item delay-05s">
                            <div class="icon">
                                <i class="fa fa-desktop"></i><!-- Icon -->
                            </div>
                            <h2>Technologies</h2><!-- Title -->
                            <p>
                                I currently work with the following technologies: Javascript, CSS, HTML, JQuery, C#.
                            </p><!-- Description -->
                        </div>
                        <!-- Service Box 3 -->
                        <div class="col-md-4 wp2 item delay-1s">
                            <div class="icon">
                                <i class="fa fa-cubes"></i><!-- Icon -->
                            </div>
                            <h2>Personal Interests</h2><!-- Title -->
                            <p>
                                I enjoy traveling the world, eating spicy food, practicing yoga and playing with my children and pets.
                            </p><!-- Description -->
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>




    <section id="codingChallenge">
        <div class="container-fluid">
            <!-- About 1 -->
            <div class="row color-bg">
                <div class="col-md-6 nopadding features-intro-img">
                    <div class="img">
                        <a href="" data-toggle="modal" data-target="#mathModal" id="mymodalButton" title="Coding Challenges"></a>
                        <div class="about-image" style="background-image: url('../../Images/JohnDoeImages/portfolio/achieve-1822503_1920.jpg');
"></div>

                    </div>
                    <!-- about image 1 -->
                </div>
                <div class="col-md-6 about-text">
                    <h6>Coding Challenges</h6><!-- headline-->
                    <p></p><br><!-- About Text 1 -->
                    <a href="" data-toggle="modal" data-target="#mathModal" id="mymodalButton" title="Coding Challenges" class="weight-outline-btn">Experience the Challenges!</a><!-- read more button  -->
                </div>
            </div>
            <!-- About 2 -->
            <div class="row">
                <div class="col-md-6 about-text">
                    <h6>Mobile Development</h6><!-- Headline -->
                    <p></p><br><!-- About Text 2 -->
                    <a href="index.html#team" class="weight-outline-btn">Read more</a>	<!-- read more button  -->
                </div>
                <div class="col-md-6 nopadding features-intro-img">
                    <div class="about-image" style="background-image:url(../Images/JohnDoeImages/about2.png)"></div><!-- about image 2 -->
                </div>
            </div>
            <!-- About 3 -->
            <div class="row color-bg">
                <div class="col-md-6 nopadding features-intro-img">
                    <div class="about-image" style="background-image:url(../Images/JohnDoeImages/about3.png)"></div><!-- about image 3 -->
                </div>
                <div class="col-md-6 about-text">
                    <h6>Database Development</h6><!-- Headline-->
                    <p></p><br><!-- About Text 3 -->
                    <a href="index.html#team" class="weight-outline-btn">Read more</a><!-- read more button  -->
                </div>
            </div>
        </div>

    </section>
    <!-- ==========================
    ABOUT SECTION END
    =========================== -->
    <!-- ==========================
        PORTFOLIO SECTION
    =========================== -->
    <section class="swag text-center" id="portfolio">
        <div class="container">
            <!-- Headline -->
            <div class="row">
                <h1 class="arrow">
                    Recent <span>Projects</span>
                </h1>
            </div>
        </div>
    </section>

    <di class="container">
        <div class="row row-offset-0">

            <!-- PORTFOLIO ITEM 1 -->
            <div class="col-md-3 col-sm-6">
                <div class="overlay-effect effects clearfix">
                    <div class="img">
                        <a href="https://lkaiferblog.azurewebsites.net/" target="_blank" title="Project Two - Blog">
                            <img class="grayscale" src="~/Images/JohnDoeImages/portfolio/blog-img-thumbnail.jpg" alt="Portfolio Item">
                        </a>
                    </div>
                </div>
            </div>


            <!-- PORTFOLIO ITEM END -->
            <!-- PORTFOLIO ITEM 2 -->
            <div class="col-md-3 col-sm-6">
                <div class="overlay-effect effects clearfix">
                    <div class="img">
                        <a href="~/Images/JohnDoeImages/portfolio/portfolio-02-large.jpg" data-lightbox="roadtrip" title="Project Two - Blog"><img class="grayscale" src="~/Images/JohnDoeImages/portfolio/portfolio-02-thumbnail.jpg" alt="Portfolio Item"></a>
                    </div>
                </div>
            </div>
            <!-- PORTFOLIO ITEM END -->
            <!-- PORTFOLIO ITEM 3 -->
            <div class="col-md-3 col-sm-6">
                <div class="overlay-effect effects clearfix">
                    <div class="img">
                        <a href="~/Images/JohnDoeImages/portfolio/portfolio-03-large.jpg" data-lightbox="roadtrip" title="Project Three - Bug Tracker"><img class="grayscale" src="~/Images/JohnDoeImages/portfolio/portfolio-03-thumbnail.jpg" alt="Portfolio Item"></a>
                    </div>
                </div>
            </div>
            <!-- PORTFOLIO ITEM END -->
            <!-- PORTFOLIO ITEM 4 -->
            <div class="col-md-3 col-sm-6 ">
                <div class="overlay-effect effects clearfix">
                    <div class="img">
                        <a href="~/Images/JohnDoeImages/portfolio/portfolio-04-large.jpg" data-lightbox="roadtrip" title="Project Four - Lorem Ipsum"><img class="grayscale" src="~/Images/JohnDoeImages/portfolio/portfolio-04-thumbnail.jpg" alt="Portfolio Item"></a>
                    </div>
                </div>
            </div>
            <!-- PORTFOLIO ITEM END -->
            <!-- PORTFOLIO ITEM 5 -->
            <div class="col-md-3 col-sm-6 ">
                <div class="overlay-effect effects clearfix">
                    <div class="img">
                        <a href="~/Images/JohnDoeImages/portfolio/portfolio-05-large.jpg" data-lightbox="roadtrip" title="Project Five - Lorem Ipsum"><img class="grayscale" src="~/Images/JohnDoeImages/portfolio/portfolio-05-thumbnail.jpg" alt="Portfolio Item"></a>
                    </div>
                </div>
            </div>
            <!-- PORTFOLIO ITEM END -->
            <!-- PORTFOLIO ITEM 6 -->
            <div class="col-md-3 col-sm-6">
                <div class="overlay-effect effects clearfix">
                    <div class="img">
                        <a href="~/Images/JohnDoeImages/portfolio/portfolio-06-large.jpg" data-lightbox="roadtrip" title="Project Six - Lorem Ipsum"><img class="grayscale" src="~/Images/JohnDoeImages/portfolio/portfolio-06-thumbnail.jpg" alt="Portfolio Item"></a>
                    </div>
                </div>
            </div>
            <!-- PORTFOLIO ITEM END -->
            <!-- PORTFOLIO ITEM 7 -->
            <div class="col-md-3 col-sm-6">
                <div class="overlay-effect effects clearfix">
                    <div class="img">
                        <a href="~/Images/JohnDoeImages/portfolio/portfolio-07-large.jpg" data-lightbox="roadtrip" title="Project Seven - Lorem Ipsum"><img class="grayscale" src="~/Images/JohnDoeImages/portfolio/portfolio-07-thumbnail.jpg" alt="Portfolio Item"></a>
                    </div>
                </div>
            </div>
            <!-- PORTFOLIO ITEM END -->
            <!-- PORTFOLIO ITEM 8 -->
            <div class="col-md-3 col-sm-6">
                <div class="overlay-effect effects clearfix">
                    <div class="img">
                        <a href="~/Images/JohnDoeImages/portfolio/portfolio-08-large.jpg" data-lightbox="roadtrip" title="Project Eight - Lorem Ipsum"><img class="grayscale" src="~/Images/JohnDoeImages/portfolio/portfolio-08-thumbnail.jpg" alt="Portfolio Item"></a>
                    </div>
                </div>
            </div>
            <!-- PORTFOLIO ITEM END -->
        </div><!--/row-->
        <!--/.container-->
        <!-- ==========================
        PORTFOLIO SECTION END
        =========================== -->
        <!-- ==========================
        CUSTOM SPACER
        =========================== -->
        <div class="spacer-cta text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
        </div>
        <!-- ==========================
        CUSTOM SPACER END
        =========================== -->
        <!-- ==========================
        BLOG SECTION
        =========================== -->
        <section class="text-center section-padding" id="blog">
            <div class="container">
                <!-- Headline -->
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="arrow">My <span>little</span> blog</h1>
                    </div>
                </div><br><br>

                <!-- Blog Slider -->
                <div class="row">
                    <div id="blogSlider">
                        <ul class="slides">
                            <li>
                                <!-- Blog Entry 1 -->
                                <div class="col-md-4 wp4">
                                    <div class="overlay-effect effects clearfix">
                                        <div class="img">
                                            <img src="~/Images/JohnDoeImages/blog1.jpg" class="grayscale" alt="Blog Item"><!-- Blog Image -->
                                        </div>
                                    </div>
                                    <br>
                                    <h2>Creative Minds</h2><!-- Headline -->
                                    <p></p><!-- Description-->
                                </div>
                                <!-- Blog Entry 2 -->
                                <div class="col-md-4 wp4 delay-05s">
                                    <div class="overlay-effect effects clearfix">
                                        <div class="img">
                                            <img src="~/Images/JohnDoeImages/blog2.jpg" class="grayscale" alt="Blog Item"><!-- Blog Image -->
                                        </div>
                                    </div>
                                    <br>
                                    <h2>Creative Hearts</h2><!-- Headline -->
                                    <p></p><!-- Description -->
                                </div>
                                <!-- Blog Entry 3 -->
                                <div class="col-md-4 wp4 delay-1s">
                                    <div class="overlay-effect effects clearfix">
                                        <div class="img">
                                            <img src="~/Images/JohnDoeImages/blog3.jpg" class="grayscale" alt="Blog Item"><!-- Blog Image -->
                                        </div>
                                    </div>
                                    <br>
                                    <h2>Creative Ideas</h2><!-- Headline -->
                                    <p></p><!-- Description-->
                                </div>
                            </li>
                            <li>
                                <!-- Blog Entry 4 -->
                                <div class="col-md-4 wp4">
                                    <div class="overlay-effect effects clearfix">
                                        <div class="img">
                                            <img src="~/Images/JohnDoeImages/blog1.jpg" class="grayscale" alt="Blog Item"><!-- Blog Image -->
                                        </div>
                                    </div>
                                    <br>
                                    <h2>Creative Minds</h2><!-- Headline -->
                                    <p></p><!-- Description -->
                                </div>
                                <!-- Blog Entry 5 -->
                                <div class="col-md-4 wp4 delay-05s">
                                    <div class="overlay-effect effects clearfix">
                                        <div class="img">
                                            <img src="~/Images/JohnDoeImages/blog2.jpg" class="grayscale" alt="Blog Item"><!-- Blog Image -->
                                        </div>
                                    </div>
                                    <br>
                                    <h2>Creative Hearts</h2>
                                    <p></p>
                                </div>
                                <!-- Blog Entry 6 -->
                                <div class="col-md-4 wp4 delay-1s">
                                    <div class="overlay-effect effects clearfix">
                                        <div class="img">
                                            <img src="~/Images/JohnDoeImages/blog3.jpg" class="grayscale" alt="Blog Item"><!-- Blog Image -->
                                        </div>
                                    </div>
                                    <br>
                                    <h2>Creative Ideas</h2><!-- Headline -->
                                    <p></p><!-- Description -->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==========================
        BLOG SECTION END
        =========================== -->
        <!-- ==========================
        CLIENT SECTION
        =========================== -->
        <div class="container-fluid">
            <div class="row color-bg">
                <!-- Left Image -->
                <div class="col-md-6 nopadding features-intro-img wow fadeInLeft">
                    <div class="about-image" style="background-image:url(../Images/JohnDoeImages/clients.png)"></div>
                </div>
                <!-- Clients / Testimonials -->
                <div class="col-md-6 nopadding about-text">
                    <h6>What our clients said</h6>
                    <div id="clientSlider">
                        <ul class="slides">
                            <li><p><br>	<small>- Jason Twichell, Coder Foundry</small></p></li>
                            <li><p><br>	<small>- Bobby Davis, CoreTechs CEO</small></p></li>
                            <li><p><br>	<small>- Hashim Warren, Coder Foundry, Senior Director of Marketing Technology and Operations</small></p>	</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- ==========================
        CLIENTS SECTION END
        =========================== -->
        <!-- ==========================
        NEWSLETTER SECTION
        =========================== -->
        <section>
            <div class="container-fluid">
                <div class="row color-bg">
                    <div class="col-md-6 nopadding subscribe text-center">
                        <h1><i class="fa fa-paper-plane"></i><span>Subscribe our Newsletter</span></h1><!-- Heading -->
                        <form action="index.html#">
                            <input type="text" name="" value="" placeholder="" required><!-- E-Mail -->
                            <input type="submit" name="" value="Send"><!-- Submit Button -->
                        </form>
                    </div>
                    <div class="col-md-6 nopadding features-intro-img">
                        <div class="about-image" style="background-image:url(../Images/JohnDoeImages/newsletter.png)"></div><!-- Right Image -->
                    </div>
                </div>
            </div>
        </section>
        <!-- ==========================
        NEWSLETTER SECTION END
        =========================== -->
        <!-- ==========================
        CONTACT SECTION
        =========================== -->
        <section class="text-center section-padding contact-wrap" id="contact">
            <!-- To Top Button -->
            <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
            <div class="container">
                <!-- Headline -->
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="arrow">Drop <span>me</span> a line</h1>
                    </div>
                </div>
                <div class="row contact-details">
                    <!-- Adress Box -->
                    <div class="col-md-4">
                        <div class="dark-box box-hover">
                            <h2><i class="fa fa-map-marker"></i><span>Address</span></h2>
                            <p>3 Ridgemore Ct., Greensboro, NC</p>
                        </div>
                    </div>
                    <!-- Phone Number Box -->
                    <div class="col-md-4">
                        <div class="dark-box box-hover">
                            <h2><i class="fa fa-mobile"></i><span>Phone</span></h2>
                            <p>+1 336 301 2687</p>
                        </div>
                    </div>
                    <!-- E-Mail Box -->
                    <div class="col-md-4">
                        <div class="dark-box box-hover">
                            <h2><i class="fa fa-paper-plane"></i><span>Email</span></h2>
                            <p><a href="index.html#">lmkaifer@hotmail.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Google Maps (Change your Settings below) -->
                    <div class="col-md-6">
                        <div id="googlemaps"></div>
                    </div>
                    <!-- Contact Form -->
                    <div class="col-md-6 contact">
                        <form role="form">
                            <!-- Name -->
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- E-Mail -->
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!-- Phone Number -->
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email address">
                                    </div>
                                </div>
                            </div>
                            <!-- Message Area -->
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Write you message here..." style="height:232px;"></textarea>
                            </div>
                            <!-- Subtmit Button -->
                            <button type="submit" class="btn btn-send">
                                Send message
                            </button>
                        </form>
                    </div>
                </div>
                <br>
                <!-- Social Buttons - use font-awesome, past in what you want -->
                <div class="row">
                    <div class="col-md-12">
                        <ul class="social-buttons">
                            <li><a href="index.html#" class="social-btn"><i class="fa fa-dribbble"></i></a></li><!-- dribble -->
                            <li><a href="index.html#" class="social-btn"><i class="fa fa-twitter"></i></a></li><!-- twitter -->
                            <li><a href="index.html#" class="social-btn"><i class="fa fa-facebook"></i></a></li><!-- facebook -->
                            <li><a href="index.html#" class="social-btn"><i class="fa fa-deviantart"></i></a></li><!-- deviantart -->
                            <li><a href="index.html#" class="social-btn"><i class="fa fa-youtube"></i></a></li><!-- youtube -->
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==========================
        CONTACT SECTION END
        =========================== -->
        <!-- ==========================
        FOOTER SECTION
        =========================== -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>All Rights Reserved. &copy; 2015 <a href="http://www.themewagon.com">ThemeWagon</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ==========================
        FOOTER SECTION END
        =========================== -->

        <div>
            <!-- Modal -->

            <div id="mathModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal Content Begins -->
                    <div class="modal-content">
                        <!-- Modal Header Begins -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Javascript Exercises</h4>
                        </div>
                        <!-- Modal Header Ends -->
                        <!-- Modal Body Begins -->
                        <div class="modal-body">
                            <!-- Tab Pills Begin -->
                            <ul class="nav nav-tabs">
                                <li class="active" data-custom-tab-toggle="#math"><a href="">Math Calculations</a></li>
                                <li data-custom-tab-toggle="#menu1"><a href="">Factorial</a></li>
                                <li data-custom-tab-toggle="#menu2"><a href="">FizzBuzz</a></li>
                                <li data-custom-tab-toggle="#menu3"><a href="">Palindrome</a></li>
                                <li data-custom-tab-toggle="#menu4"><a href="">Sum of All Fears</a></li>
                            </ul>
                            <!-- Tab Pills Ends -->
                            <!-- Tab Content Begins -->
                            <div class="tab-content">
                                <!-- Math Content Begins -->
                                <div id="math" class="tab-pane fade in active">
                                    <h2>MATH CALCULATIONS</h2>
                                    <h4>Enter five integers below. Then the calculate button will help you find the smallest number in the series, largest number in the series, sum, product and average of the numbers. </h4>
                                    <div class="row">
                                        <!-- Number Input Fields Begins -->
                                        <div class="col-md-8" style="padding-left: 30px">
                                            <div class="row">
                                                <div class="col-md-3">Number 1:</div>
                                                <div class="col-md-7">
                                                    <input type="number" id="input1" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-3">Number 2:</div>
                                                <div class="col-md-7">
                                                    <input type="number" id="input2" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-3">Number 3:</div>
                                                <div class="col-md-7">
                                                    <input type="number" id="input3" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-3">Number 4:</div>
                                                <div class="col-md-7">
                                                    <input type="number" id="input4" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-3">Number 5:</div>
                                                <div class="col-md-7">
                                                    <input type="number" id="input5" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="row" style="margin-top:20px;">
                                                <div class="col-md-3">
                                                    <button id="mathBtn" class="btn btn-success" style="width:110px;">Calculate</button>
                                                </div>
                                                <div class="col-md-3">
                                                    <button id="clearBtn" class="btn btn-warning" style="width:110px;">Clear</button>
                                                </div>
                                                <div class="col-md-3">
                                                    <button id="toggleBtn" class="btn btn-danger" style="width:110px">Show Code</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Number Input Fields Ends -->
                                        <!-- Result Begins -->
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <p style="font-weight:bold; font-size:medium">Your calculated results</p>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p id="smallest"></p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p id="largest"></p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p id="sum"></p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p id="product"></p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p id="average"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Result Ends -->
                                    </div>
                                    <div class="container-fluid" style="padding:40px;">
                                        <div class="row">
                                            <div class="'col=md-6">
                                                <div id="code">
                                                    <pre class="brush: js">
$("#code").hide();
    $("#toggleBtn").click(function () {
        $("#code").toggle();

        if ($(this).text() == "Show Code") {
            $(this).text("Hide Code");

        }
        else {
            $(this).text("Show Code")
        };
    });



    $("#mathBtn").click(function () {
        //Step 1: Get the user data
        var num1 = Number($("#input1").val());
        var num2 = Number($("#input2").val());
        var num3 = Number($("#input3").val());
        var num4 = Number($("#input4").val());
        var num5 = Number($("#input5").val());


        //Step 2: Make the calculations with the given data
        var smallest = Math.min(num1, num2, num3, num4, num5);
        var largest = Math.max(num1, num2, num3, num4, num5);
        var sum = num1 + num2 + num3 + num4 + num5;
        var product = num1 * num2 * num3 * num4 * num5;
        var average = sum / 5;

        //Step 3: Display the results to the user
        $("#smallest").text("The smallest number is " + smallest);
        $("#largest").text("The largest number is " + largest);
        $("#sum").text("The sum is " + sum);
        $("#product").text("The product is " + product);
        $("#average").text("The average is " + average);

    })
    $("#clearBtn").click(function () {

        $("#input1,#input2,#input3,#input4,#input5").val("");

        $("#smallest").text("");
        $("#largest").text("");
        $("#sum").text("");
        $("#product").text("");
        $("#average").text("");

    });
});
//Math exercise ends

//Initializing Modal Fields
$("#myModal").on("hide.bs.modal", function () {
    //palindrome code hide
    $("#palcode").hide();
    //palindrome toggle button text to Show Code
    $("#paltoggleBtn").text("Show Code");
    //input field clearing
    $("#pal").val("");
    //result field clearing
    $("#palOut").text("");

    $("#SFcode").hide();
    $("#SFBtnToggleCode").text("Show Code");
    $("#in1").val("");
    $("#in2").val("");
    $("#in3").val("");
    $("#in4").val("");
    $("#in5").val("");
    $("#in6").val("");
    $("#inputK").val("");
    $("#resultMessage").text("");

    $("#FBcode").hide();
    $("#FBbtnToggleCode").text("Show Code");
    $("#fbIn1").val("");
    $("#fbIn2").val("");
    $("#Answer").text("");

    $("#factCode").hide();
    $("#facttoggleBtn").text("Show Code");
    $("#fact").val("");
    $("#factOut").text("");

    $("#code").hide();
    $("#toggleBtn").text("Show Code");
    $("#input1,#input2,#input3,#input4,#input5").val("");
    $("#smallest").text("");
    $("#largest").text("");
    $("#sum").text("");
    $("#product").text("");
    $("#average").text("");
});
 

</pre>


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Math Content Ends-->
                                <!-- Factorial Begins -->
                                <div id="menu1" class="tab-pane fade">
                                    <h2>Factorial</h2>
                                    <div>



                                        <!--Header of the Demo-->
                                        <!--Left Side of Screen-->
                                        <div class="row" style="padding-bottom: 30px">
                                            <!--Input Field-->
                                            <div class="col-md-6" style="padding-left: 30px">
                                                <div class="row">
                                                    <h4>To calculate a factorial, enter a number in the field, and press "calculate."</h4>
                                                    <input id="fact" type="number" placeholder="Enter your number" />
                                                </div>
                                                <!--Buttons-->
                                                <div class="row" style="margin-top:20px;">
                                                    <div class="col-md-4">
                                                        <button id="btnFact" class="btn btn-danger" style="width:110px;">Calculate</button>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button id="factbtnClear" class="btn btn-primary" style="width:110px;">Clear</button>
                                                    </div>
                                                    <div class="col-md-">
                                                        <button id="facttoggleBtn" class="btn btn-warning" style="width:110px;">Show Code</button>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Right side of Screen-->
                                            <div class="row" style="padding-left:30px;">


                                                <div class="col-md-6" style="margin-top:30px;">
                                                    <div class="row">
                                                        <div class="col-md-12 text-left h4">
                                                            <p style="font-weight:bold; font-size:medium">Your calculated results</p>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="padding-left:50px;">
                                                        <h2 id="factOut"></h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container-fluid" style="padding:40px;">
                                            <div class="row">
                                                <div class="col=md-6">
                                                    <div id="factCode">
                                                        <pre class="brush: js">
        //Toggle Show/Hide Button
    $("#factCode").hide();
    $("#facttoggleBtn").click(function () {
        $("#factCode").toggle();

        if ($(this).text() == "Show Code") {
            $(this).text("Hide Code");

        }
        else {
            $(this).text("Show Code")
        };
    });

    //Step 1: Get the user data
    $("#btnFact").click(function () {
        var number = Number($("#fact").val());

        //I am using an If statement to evaluate something
        if (number > 170) {
            alert("Please enter positive numbers less than 171!");
            $("#fact").val("");
            return;
        }

        //Step 2: Perform the algorithm
        for (var foo = number - 1; foo > 1; foo--) {
            //How do we calculate the factorial
            number *= foo;
        }


        //Step 3: Show the result
        $("#factOut").text(number);
        //Clear button
    });
    $("#factbtnClear").click(function () {
        $("#fact").val("");
        $("#factOut").text("");
    });


    //Factorial Ends

    //Math exercise begins
    //Toggle Show/Hide Button
    $("#code").hide();
    $("#toggleBtn").click(function () {
        $("#code").toggle();

        if ($(this).text() == "Show Code") {
            $(this).text("Hide Code");

        }
        else {
            $(this).text("Show Code")
        };
    });



 </pre>


                                                    </div>

                                                </div>
                                            </div>



                                        </div>

                                    </div>
                                </div>
                                <!-- Factorial Ends -->
                                <!-- Fizz Buzz Begins -->

                                <div id="menu2" class="tab-pane fade">
                                    <div>
                                        <h2>FizzBuzz</h2>
                                        <style>
                                            .buttonFB {
                                                width: 110px;
                                                padding-top: 10px;
                                            }

                                            .fizz {
                                                color: royalblue;
                                                font-weight: bolder;
                                                font-size: larger;
                                            }

                                            .buzz {
                                                color: orangered;
                                                font-weight: bolder;
                                                font-size: larger;
                                            }

                                            .fizzbuzz {
                                                color: darkgreen;
                                                font-weight: bolder;
                                                font-size: larger;
                                                font-family: Cooper;
                                            }
                                        </style>

                                        <!--Introduction Line-->
                                        <div class="row" style="padding-left: 15px">
                                            <div class="cold-md-12 text-left">
                                                <h4>
                                                    Enter two numbers between 1 and 100 in the boxes below. Press "Go" to see multiples of the first number revealed as "Fizz" and multiples of the second number revealed as "buzz".
                                                    Multiples of both numbers will be revealed as FizzBuzz.
                                                </h4>
                                            </div>
                                        </div>
                                        <!--Introduction Line Finishes-->
                                        <!--Entry Fields-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row" style="margin-bottom:20px">
                                                    <div class="col-md-6">
                                                        <input id="fbIn1" type="number" placeholder="Enter number 1" class="form-control" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input id="fbIn2" type="number" placeholder="Enter number 2" class="form-control" />
                                                    </div>
                                                    <!--Entry Fields Finishes-->
                                                    <!--Buttons-->
                                                    <div class="row" style="margin-left: 10px; padding-top: 50px;">
                                                        <div class="col-md-4">
                                                            <button class="buttonFB btn btn-primary" style="width:110px" id="btnFB">Go</button>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <button id="FBbtnClear" class="buttonFB btn btn-success">Clear it all!</button>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <button id="FBbtnToggleCode" class="buttonFB btn btn-warning">Show Code</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Buttons Finish & Left Side Finishes-->
                                            <!--Right Side Starts-->
                                            <div class="col-md-6">
                                                <div class="row text-center h4">
                                                    <p style="font-weight:bold; font-size:medium">Your calculated results</p>
                                                </div>
                                                <div class="row">
                                                    <p id="Answer">

                                                    </p>

                                                </div>
                                            </div>
                                        </div>


                                        <!--Show code-->
                                        <div class="container-fluid" style="padding:40px;">
                                            <div class="row">
                                                <div class="col=md-6">
                                                    <div id="FBcode">
                                                        <pre class="brush: js">
$("#FBcode").hide();
    $("#FBbtnToggleCode").click(function () {
    $("#FBcode").toggle();

        if ($(this).text() == "Show Code") {
            $(this).text("Hide Code");

        }
        else {
            $(this).text("Show Code")
        };
    });

    $("#btnFB").click(function () {
        //1. Get user data
        var Input1 = Number($("#fbIn1").val());
        var Input2 = Number($("#fbIn2").val());
        var Answer = "";


        //2. Do something with the input

        for (var i = 1; i <= 100; i++) {
            var comma = ", ";
            if (i == 100) {
                comma = "";
            }
            if (i % Input1 == 0 && i % Input2 == 0) {
                Answer += "<span class='fizzbuzz'>fizzbuzz" + comma + "</span>";
            }

            else if (i % Input1 == 0) {
                Answer += "<span class='fizz'>fizz" + comma + "</span>";

            }
            else if (i % Input2 == 0) {
                Answer += "<span class='buzz'>buzz" + comma + "</span>";
                    
            }

            else {
                Answer += i + comma;
            }
        }
     //3. Show the answer.
    $("#Answer").html(Answer);   
        

    });

    //Clear out the answers to start over
    $("#FBbtnClear").click(function () {
        $("#fbIn1").val("");
        $("#fbIn2").val("");
        $("#Answer").text("");
    });
    //Fizz Buzz ends

                                </pre>



                                                    </div>

                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <!-- FizzBuzz Ends -->
                                <!-- Palindrome Begins -->
                                <div id="menu3" class="tab-pane fade">
                                    <h2>PALINDROME</h2>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-12 text-left">
                                                <h4>
                                                    Please enter a word to determine if it's a palindrome either by loop or by array.
                                                </h4>

                                            </div>
                                        </div>

                                        <!--Left Side-->
                                        <div class="row">
                                            <!--Input Field-->
                                            <div class="col-md-7">
                                                <div class="row" style="margin-left:30px">
                                                    <input id="pal" type="text" placeholder="Enter your word" />
                                                </div>
                                                <!--Buttons-->
                                                <div class="row" style="margin-top:30px">
                                                    <div class="col-md-3">
                                                        <button id="palIn" class="btn btn-danger" style="width:120px">Check by Loop</button>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <button id="palbtnClear" class="btn btn-primary" style="width:120px">Clear</button>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <button id="btnArray" class="btn btn-success" style="width:120px">Check by Array</button>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <button id="paltoggleBtn" class="btn btn-warning" style="width:120px">Show Code</button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-5">
                                                <div class="row" style="margin-left:20px">
                                                    <div class="col-md-12 text-center h4">
                                                        <p style="font-weight:bold; font-size:medium">Your calculated results</p>
                                                    </div>
                                                </div>
                                                <div class="row" style="word-wrap:break-word; margin-left:10px">
                                                    <p id="palOut"></p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="'col=md-6" style="padding:30px">
                                                <div id="palcode">
                                                    <pre class="brush: js">
 //Palindrome
    $("#palcode").hide();
    $("#paltoggleBtn").click(function () {
        $("#palcode").toggle();

        if ($(this).text() == "Show Code") {
            $(this).text("Hide Code");
        }
        else {
            $(this).text("Show Code")
        };
    });

    //Step 1: Get the word
    $("#palIn").click(function () {
        var displayword = $("#pal").val();
        var word = displayword.toLowerCase().replace(/\s/g, '');
        for (var index = displayword.length - 1, revword = ""; index >= 0; index--) {
            revword += displayword.substr(index, 1);
        }
        displayrevword = revword;
        revword = revword.toLowerCase().replace(/\s/g, '');
        var message = "";
        if (word == revword) {
            message = displayword + " reversed = " + displayrevword + " therefore " + displayword + " is a palindrome.";
        }
        else {
            message = displayword + " reversed !=" + displayrevword + " therefore " + displayword + " is not a palindrome";
        }

        $("#palOut").text(message);
    });

    $("#btnArray").click(function () {
        var displayword = $("#pal").val();
        var word = displayword.toLowerCase().replace(/\s/g, '');

        var revword = displayword.split("").reverse().join("");
        var displayrevword = revword;
        revword = revword.toLowerCase().replace(/\s/g, '');

        var message = "";
        if (word == revword) {
            message = displayword + " reversed = " + displayrevword + " therefore " + displayword + " is a palindrome";
        }
        else {
            message = displayword + " reversed !=" + displayrevword + " therefore " + displayword + " is not a palindrome";
        }
        $("#palOut").text(message);
    });

    $("#palbtnClear").click(function () {
        $("#pal").val("");
        $("#palOut").text("");
    });

</pre>


                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- Palindrome Ends -->
                                <!--Sum Fear Begins-->
                                <div id="menu4" class="tab-pane fade">
                                    <h2>SUM OF ALL FEARS</h2>
                                    <div>
                                        <!--Introduction to the Sum of All Fears-->
                                        <div class="row">
                                            <div class="col-md-12 text-left">
                                                <h4>
                                                    The Sum of All Fears coding challenge involves an array of integers and some number called "K".
                                                    If "K" can be derived from adding any two numbers from the array, then it is said to contain that K value.
                                                    If given an array = {10,4,6,7,9,3} and a "K" value of 17, the array contains the "K" value of 17.
                                                </h4>

                                            </div>
                                        </div>
                                        <!--End of Introduction-->
                                        <!--Instructions for First Input Boxes-->
                                        <div class="row">
                                            <div class="col-md-12 text-left">
                                                <h4>
                                                    Create a searchable array by entering 6 numbers into the boxes below:
                                                </h4>

                                            </div>
                                        </div>
                                        <!--End of Instructions for First Input Boxes-->
                                        <!--First Input Boxes-->
                                        <div class="row">
                                            <div class="col-md-2">
                                                <input type="number" id="in1" class="form-control" />
                                            </div>

                                            <div class="col-md-2">
                                                <input type="number" id="in2" class="form-control" />
                                            </div>

                                            <div class="col-md-2">
                                                <input type="number" id="in3" class="form-control" />
                                            </div>

                                            <div class="col-md-2">
                                                <input type="number" id="in4" class="form-control" />
                                            </div>

                                            <div class="col-md-2">
                                                <input type="number" id="in5" class="form-control" />
                                            </div>

                                            <div class="col-md-2">
                                                <input type="number" id="in6" class="form-control" />
                                            </div>

                                        </div>
                                        <!--End of First Input Boxes-->
                                        <!--Instructions for K Value Box-->
                                        <div class="row">
                                            <div class="col-md-12 text-left">
                                                <h4>
                                                    Establish a "k" value by entering a number in the box below.
                                                </h4>

                                            </div>
                                        </div>
                                        <!--End of Instructions for K Value Box-->
                                        <!--Final Input Box-->
                                        <div class="row">
                                            <div class="col-md-2">
                                                <input type="number" id="inputK" class="form-control control" />
                                            </div>
                                        </div>
                                        <!--End of K Value Box-->
                                        <!--Search Button Begins-->
                                        <div class="row" style="margin-top:20px">
                                            <div class="col-md-3">
                                                <button id="searchBtn" class="btn btn-danger" style="width:110px">Search</button>
                                            </div>
                                            <div class="col-md-3">
                                                <button id="SFbtnClear" class="btn btn-warning" style="width:110px">Clear</button>
                                            </div>
                                            <div class="col-md-3">
                                                <button id="SFBtnToggleCode" class="btn btn-success btn-sm" style="width:110px">Show Code</button>
                                            </div>
                                        </div>
                                        <!--Search Button Ends-->
                                        <hr />
                                        <div id="resultMessage">

                                        </div>

                                        <div class="row">
                                            <div class="'col=md-6" style="padding:40px">
                                                <div id="SFcode">
                                                    <pre class="brush: js">
            $("#SFcode").hide();
    $("#SFBtnToggleCode").click(function () {
        $("#SFcode").toggle();

        if ($(this).text() == "Show Code") {
            $(this).text("Hide Code");

        }
        else {
            $(this).text("Show Code")
        };
    });



    //Create variables for two numbers being used in loop.
    let firstsumNumber = 0;
    let secondsumNumber = 0;

    $("#searchBtn").click(function () {
        //Get user data
        var input1 = Number($("#in1").val());
        var input2 = Number($("#in2").val());
        var input3 = Number($("#in3").val());
        var input4 = Number($("#in4").val());
        var input5 = Number($("#in5").val());
        var input6 = Number($("#in6").val());

        var valK = Number($("#inputK").val());
        //Put the user's first 6 numbers in an array to be used for loop.
        var inputArray = [input1, input2, input3, input4, input5, input6];

        //If/then statement to display results of calculations
        var Result = FindSumA(inputArray, valK);
        if (Result == true) {
            $("#resultMessage").html("A k value of <span style='color:purple;font-weight:bold'>" + valK + "</span> was found by adding array members <span style='color:red;font-weight:bold'>" + firstsumNumber + "</span> and <span style='color:blue;font-weight:bold'> " + secondsumNumber + "</span>.");

        }
        else {
            $("#resultMessage").html("Sorry. A k value was not found.")
        }
    });
    //The functions and loops which determine if K value can be found
    function FindSumA(numbers, answer) {
        let checkValue = 0;
        let found = false;

        for (let i = 0; i <= numbers.length - 2; i++) {
            for (let y = (i + 1); y <= numbers.length - 1; y++) {
                if (answer == numbers[i] + numbers[y]) {
                    found = true;
                    firstsumNumber = numbers[i];
                    secondsumNumber = numbers[y];
                    return found;
                }
            }

        }
        return found;
    }

        $("#SFbtnClear").click(function () {
        $("#in1").val("");
        $("#in2").val("");
        $("#in3").val("");
        $("#in4").val("");
        $("#in5").val("");
        $("#in6").val("");
        $("#inputK").val("");
        $("#resultMessage").text("");
    });


                </pre>


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Tab Content Ends -->
                        </div>
                        <!-- Modal Body Ends -->
                        <!-- Modal Footer Begins -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                        <!-- Modal Footer Ends -->
                    </div>
                </div>
            </div>
            <!-- Modal Content Ends -->

        </div>


        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- SmoothScroll -->
        @*<script type="text/javascript" src="~/Content/JohnDoeCss/assets/smoothscroll/smoothscroll.js"></script>*@
        <!-- Bootstrap -->
        <script src="~/Content/JohnDoeCss/assets/bootstrap/js/bootstrap.min.js"></script>
        <!-- Waypoints -->
        <script src="~/Scripts/JohnDoeScripts/js/waypoints.min.js"></script>
        <!-- classie.js -->
        <script src="~/Scripts/JohnDoeScripts/js/classie.js"></script>
        <!-- FlexSlider -->
        <script src="~/Content/JohnDoeCss/assets/flexslider/jquery.flexslider.js"></script>
        <!-- Modernizr -->
        <script src="~/Scripts/JohnDoeScripts/js/modernizr.js"></script>
        <!-- Text Rotator -->
        <script src="~/Content/JohnDoeCss/assets/textrotator/jquery.simple-text-rotator.js"></script>
        <!-- Lightbox.js -->
        <script src="~/Content/JohnDoeCss/assets/lightbox/js/lightbox.min.js"></script>
        <!-- Theme JavaScript Core -->
        <script src="~/Scripts/JohnDoeScripts/js/main.js"></script>
        <script src="~/Scripts/JohnDoeScripts/js/script.js"></script>
        <!--Syntax Highlighter-->
        <script src="~/Scripts/SyntaxHighlighter/scripts/shCore.js"></script>
        <script src="~/Scripts/SyntaxHighlighter/scripts/shBrushJScript.js"></script>
        <script>
            SyntaxHighlighter.all();
        </script>
        <!-- Custom Script -->
        <script src="~/Scripts/Spock_Custom.js"></script>
        <!-- TEXT ROTATOR SETTINGS -->
        <script type="text/javascript">
            $(".rotate").textrotator({
                animation: "fade", // You can pick the way it animates when rotating through words. Options are dissolve (default), fade, flip, flipUp, flipCube, flipCubeUp and spin.
                separator: ",", // If you don't want commas to be the separator, you can define a new separator (|, &, * etc.) by yourself using this field.
                speed: 2000 // How many milliseconds until the next word show.
            });
        </script>
</body>
</html>