<?xml version="1.0"?>

<appSettings>
  <add key="username" value="lisa.jang@gmail.com"/>
  <add key="password" value="fowhqntgbeykrvep"/>
  <add key="emailto" value="lisa.jang@gmail.com"/>
  <add key="emailfrom" value="lisa.jang@gmail.com"/>
  <add key="host" value="smtp.gmail.com"/>
  <add key="port" value="587"/>
</appSettings>
